<h1>{{title}}</h1>
<button (click) =  "enableBuying()">Enable/Disable</button>
<div *ngFor = "let product of products">
<h2>{{product.name}}</h2>
<h2>{{product.price}}</h2>
<h2>{{product.description}}</h2>
<app-alert-details [product] = "product"  [isUnchanged] = isUnchanged (notify) = "clickMe(product)"></app-alert-details>
</div>


<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Product List</h1>
        </div>
    </div>
    <button class = "btn btn-primary" (click) =  "enableBuying()">Enable/Disable</button>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <div *ngFor = "let product of products">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a [routerLink] = "['/products', product.id]" class="mt-0 font-weight-bold mb-2">{{product.name}}</a>
                            <p class="font-italic text-muted mb-0 small">{{product.description}}</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">{{product.price}}</h6>
                            </div>
                        </div><img src={{product.imgaddress}} width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                    <app-alert-details [product] = "product"[isUnchanged] = isUnchanged (notify) = "clickMe(product)"></app-alert-details>
                </li> <!-- End -->
            </div>
            </ul> <!-- End -->
        </div>
    </div>
</div>