# See http://help.github.com/ignore-files/ for more about ignoring files.
# compiled output
/bin
/obj

# Only exists if Bazel was run
/bazel-out

# IDE - VSCode
.vscode/*
@@ -31,6 +33,8 @@ speed-measure-plugin.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/.vscode

# System Files
.DS_Store
/.DS_Store
Thumbs.db